<h1>Convert <%= @first %></h1>

<div>Go <a href = "/forex">back</a><div>

<ul>
  <% @code_array.each do |code|%> 
    <li>
      <a href = "/forex/<%= @first%>/<%= code%> ">Convert 1 <%= @first %> to <%= code%></a> 
    </li>
  <% end %>
</ul>
